second-segment {
  text-align: center;

  .header-segment2 {
    font-size: 36px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.11;
    text-align: center;
    color: $brownish-grey;
  }
}
