<!--
<div no-padding  fixed>
  <span class="Logo">morizon finanse</span>


</div>
-->

<ion-header style="box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.5);">
  <ion-navbar col-12 [color]="'primary'">
    <ion-row>
      <ion-title>
        <img src="../../assets/logo@3x.png">
      </ion-title>
      <span style="align-self: center" class="phone-number">{{HeaderContent.PhoneNumber}}</span>
      <button (click)="openJoinModal()" end ion-button class="Rectangle-7"><span
        class="join-button">{{HeaderContent.JoinUs}}</span></button>
    </ion-row>

  </ion-navbar>
</ion-header>
